.filter {
  &-container {
    padding: 1.5rem 1rem;
    flex: 0 1 auto;
  }
}

.filter-location {
  @media only screen and (min-width: 575px) {
    display: flex;
    gap: 1rem;

    > div {
      flex: 1 1 100%;
    }
  }
}


