@import "src/styles/variables";

.header {
  background-color: $primary-color;
  color: #ffffff;
  padding: 4rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;

  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
  }
}
